<a href="https://colab.research.google.com/github/Wiritpon-code/Project-University/blob/main/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [106]:
import pandas as pd
df = pd.read_excel('/content/drive/MyDrive/HousePricing.xlsx')

In [107]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2919 entries, 0 to 2918
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Id            2919 non-null   int64
 1   MSSubClass    2919 non-null   int64
 2   MSZoning      2915 non-null   object
 3   LotArea       2919 non-null   int64
 4   LotConfig     2919 non-null   object
 5   BldgType      2919 non-null   object
 6   OverallCond   2919 non-null   int64
 7   YearBuilt     2919 non-null   int64
 8   YearRemodAdd  2919 non-null   int64
 9   Exterior1st   2918 non-null   object
 10  BsmtFinSF2    2918 non-null   float64
 11  TotalBsmtSF   2918 non-null   float64
 12  SalePrice     1460 non-null   float64
dtypes: float64(3), int64(6), object(4)
memory usage: 296.6+ KB

In [108]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import PolynomialFeatures

In [109]:
df.head()

,Id,MSSubClass,MSZoning,LotArea,LotConfig,BldgType,OverallCond,YearBuilt,YearRemodAdd,Exterior1st,BsmtFinSF2,TotalBsmtSF,SalePrice
0,0,60,RL,8450,Inside,1Fam,5,2003,2003,VinylSd,0.0,856.0,208500.0
1,1,20,RL,9600,FR2,1Fam,8,1976,1976,MetalSd,0.0,1262.0,181500.0
2,2,60,RL,11250,Inside,1Fam,5,2001,2002,VinylSd,0.0,920.0,223500.0
3,3,70,RL,9550,Corner,1Fam,5,1915,1970,Wd Sdng,0.0,756.0,140000.0
4,4,60,RL,14260,FR2,1Fam,5,2000,2000,VinylSd,0.0,1145.0,250000.0

In [110]:
df.shape

(2919, 13)

In [111]:
#split train and test dataset
def train_test(X,y,model,*,test_size=0.2,random_state=42):
    X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=test_size,random_state=random_state)
    model.fit(X_train,y_train)
    y_pred = model.predict(X_test)
    mse=mean_squared_error(y_test,y_pred)
    rmse=np.sqrt(mse)
    r2=r2_score(y_test,y_pred)
    return mse,rmse,r2,model # Return mse, rmse, r2, and the fitted model

In [112]:
#linear regression: 1 feature
labl="SalePrice"  # Corrected typo from "SalePrace" to "SalePrice"
feature="TotalBsmtSF" # Assumed "TotalBsmtSF" as a relevant single feature based on df.info(). "Total" does not exist.

# Select relevant columns and drop rows with any NaN values in those columns
df_for_model = df[[feature, labl]].dropna()

# Prepare X (features) and y (target) for the model
X = df_for_model[[feature]] # X should be a DataFrame for sklearn
y = df_for_model[labl]      # y can be a Series

linear_model=LinearRegression()

# Correct arguments for train_test function: X, y, and the model object
# Correct assignment for return values: train_test now returns mse, rmse, r2, and the fitted model.
linear_mse, linear_rmse, linear_r2, linear_fit = train_test(X, y, linear_model)

print("Linear RMSE:", linear_rmse)
print("Linear R2:", linear_r2)

Linear RMSE: 66084.41263716132
Linear R2: 0.43064356382828006

In [113]:
#slope and intercept
slope=linear_fit.coef_[0]
intercept=linear_fit.intercept_
print("Slope:",slope)
print("Intercept:",intercept)

Slope: 104.80602220480245
Intercept: 70161.50459652096

In [114]:
#Polynomial Regression
ploy_model=Pipeline([('poly',PolynomialFeatures(degree=2)),('linear',LinearRegression())])

poly_mse, poly_rmse,poly_r2,poly_fit=train_test(X,y,ploy_model)

print("Polynomial RMSE:",poly_rmse)
print("Polynomial R2:",poly_r2)

Polynomial RMSE: 66710.19223332271
Polynomial R2: 0.41980958467751106

In [115]:
#Coefficient for single feature linear model
coef_table=pd.DataFrame({
    'Feature': [feature],
    'Coefficient': [linear_fit.coef_[0]]
}).sort_values(by='Coefficient',ascending=False)
coef_table

       Feature  Coefficient
0  TotalBsmtSF   104.806022

In [116]:
import matplotlib.pyplot as plt
#visualize
plt.figure()
plt.scatter(x["TotalBsmtSF"],y)
x_line=np.linspace(x["TotalBsmtSF"].min(),x["TotalBsmtSF"].max())
y_line=linear_fit.predict(pd.DataFrame({"TotalBsmtSF":x_line}))
plt.plot(x_line,y_line)

NameError: name 'x' is not defined